services:
  web:
    build:
      context: .
      target: dev
    image: web-ui-dev
    container_name: web
    environment:
      PYTHONPATH: server
      SERVER_NAME: localhost:5050
      SECRET_KEY: CHANGE ME
      POSTGRES_USER: mapuser
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_PASSWORD: mappass
      POSTGRES_DB: mapdb
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
      MAP_CORE_BASE_URL: https://map-core.example.com
    ports:
      - "5050:5050"
    develop:
      watch:
        - action: sync
          path: .
          target: /code
          include:
            - server
            - certs
          ignore:
            - .venv
            - __pycache__
            - .pytest_cache
            - node_modules
        - action: rebuild
          path: pyproject.toml
        - action: rebuild
          path: Dockerfile

  worker:
    build:
      context: .
      target: dev
    image: web-ui-dev
    container_name: worker
    command: celery -A server.worker worker
    environment:
      PYTHONPATH: server
      SERVER_NAME: localhost:5000
      SECRET_KEY: CHANGE ME
      POSTGRES_USER: mapuser
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_PASSWORD: mappass
      POSTGRES_DB: mapdb
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
      MAP_CORE_BASE_URL: https://map-core.example.com
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /code
          include:
            - server
            - certs
          ignore:
            - .nuxt
            - .venv
            - __pycache__
            - .pytest_cache
            - node_modules
        - action: rebuild
          path: pyproject.toml
        - action: rebuild
          path: Dockerfile.vite

  app:
    build:
      context: .
      dockerfile: Dockerfile.vite
      target: dev
    image: web-ui-vite
    container_name: app
    ports:
      - "3000:3000"
    develop:
      watch:
        - action: sync
          path: .
          target: /code
          include:
            - app
            - public
          ignore:
            - .nuxt
            - .venv
            - __pycache__
            - .pytest_cache
            - node_modules
        - action: rebuild
          path: package.json
        - action: rebuild
          path: Dockerfile

  postgres:
    image: postgres:12
    environment:
      POSTGRES_USER: mapuser
      POSTGRES_PASSWORD: mappass
      POSTGRES_DB: mapdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  pgdata:
