# Docker Compose configuration for development environment

services:
  web:
    restart: "always"
    build:
      context: .
      target: dev
    image: jc-groups-manager-dev
    container_name: web
    ports:
      - "5050:5050"
    develop:
      watch:
        - action: sync
          path: .
          target: /code
          include:
            - src/server
            - certs
        - action: sync+restart
          path: .
          target: /code
          include:
            - configs/server.config.toml
        - action: rebuild
          path: pyproject.toml
        - action: rebuild
          path: uv.lock
        - action: rebuild
          path: Dockerfile

  worker:
    restart: "always"
    build:
      context: .
      target: dev
    image: jc-groups-manager-dev
    container_name: worker
    command: celery -A server.celery worker
    depends_on:
      - redis
      - rabbitmq
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /code
          include:
            - src/server
            - certs
            - configs/server.config.toml
        - action: rebuild
          path: pyproject.toml
        - action: rebuild
          path: uv.lock
        - action: rebuild
          path: Dockerfile

  app:
    build:
      context: .
      dockerfile: Dockerfile.vite
      target: dev
    image: jc-groups-manager-vite
    container_name: app
    ports:
      - "3000:3000"
    develop:
      watch:
        - action: sync
          path: .
          target: /code
          include:
            - src/app
            - public
            - configs/app.config.ts
            - nuxt.config.ts
            - tsconfig.json
            - pnpm-workspace.yaml
        - action: rebuild
          path: package.json
        - action: rebuild
          path: pnpm-lock.yaml
        - action: rebuild
          path: Dockerfile.vite
    volumes:
      - type: bind
        source: ./.nuxt
        target: /code/.nuxt

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
      target: prod
    image: jc-groups-manager-nginx
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
      - app

  postgres:
    restart: "always"
    image: postgres:12
    environment:
      POSTGRES_USER: jcgroups
      POSTGRES_DB: jcgroups
      POSTGRES_PASSWORD: jcpass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    restart: "always"
    image: redis:7.4.1
    ports:
      - "6379:6379"

  rabbitmq:
    restart: "always"
    image: rabbitmq:4.0.2
    environment:
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: "-rabbit consumer_timeout 10800000"

volumes:
  pgdata:
