# Application configuration for server side

# Server hostname of this application.
server_name = 'localhost'

# Secret key for cryptographic operations.
secret_key = 'CHANGE ME'


[log]
# Log level for the application standard output.
# Possible values: DEBUG, INFO, WARNING, ERROR, CRITICAL
level = "INFO"

# Log format string for log messages.
# If not set, the default format will be used.
# format = "[%(asctime)s.%(msecs)03dZ] %(levelname)-8s %(message)s (%(addr)s - %(user)s)"

# Date format string for log timestamps.
# If not set, the default date format will be used.
# datefmt = "%Y-%m-%dT%H:%M:%S"


[session]
# Strategy for session expiration.
# Possible values: "fixed" or "sliding"
strategy = "sliding"

# Sliding session lifetime (in seconds)
# Default is 3600 seconds (1 hour).
sliding_lifetime = 3600

# Absolute session lifetime (in seconds)
# Default is 86400 seconds (24 hours).
absolute_lifetime = 86400


[api]
# Maximum allowed file upload size in bytes.
# Default is 10485760 bytes (10 MB).
max_upload_size = 10485760  # 10 MB


[sp]
# Entity ID of the Service Provider.
entity_id = "https://localhost/shibboleth-sp"

# Path to the Service Provider's certificate file.
crt = "./certs/server.crt"

# Path to the Service Provider's private key file.
key = "./certs/server.key"


[repositories.id_patterns]
# SP connecter ID pattern. It should include '{repository_id}' placeholder.
# `repository_id` is the FQDN, with its dots and hyphens replaced by underscores.
sp_connecter = "jc_{repository_id}"


[groups.id_patterns]
# ID of the system administrator group.
system_admin = "jc_roles_sysadm"

# Pattern for repository administrator group IDs.
# It should include '{repository_id}' placeholder.
repository_admin = "jc_{repository_id}_roles_repoadm"

# Pattern for community administrator group IDs.
# It should include '{repository_id}' placeholder.
community_admin = "jc_{repository_id}_roles_comadm"

# Pattern for contributor group IDs.
# It should include '{repository_id}' placeholder.
contributor = "jc_{repository_id}_roles_contributor"

# Pattern for general user group IDs.
# It should include '{repository_id}' placeholder.
general_user = "jc_{repository_id}_roles_generaluser"

# Pattern for user-defined group IDs.
# It should include `{repository_id}` followed by `{user_defined_id}` placeholders.
user_defined = "jc_{repository_id}_groups_{user_defined_id}"


[map_core]
# Base URL for the mAP Core service.
base_url = "https://sptest.cg.gakunin.jp"

# Timeout (in seconds) for requests to mAP Core service.
timeout = 20


[postgres]
# Database user name for authentication.
user = "jcgroups"

# Database user password for authentication.
password = "jcpass"

# Host name or IP address of the PostgreSQL server.
host = "postgres"

# Port number for the PostgreSQL server.
port = 5432

# Name of the PostgreSQL database.
db = "jcgroups"


[redis]
# Type of caching backend to use. Possible values: "RedisCache" or "RedisSentinelCache"
cache_type = "RedisCache"

# Default timeout (in seconds) for cached items.
# Use in caching mAP API responses.
default_timeout = 300

# Prefix for cache keys used by app-cache and account-store.
key_prefix = "jcgroups-"

# Redis database number to use.
[redis.database]
# Database number for application cache.
app_cache = 0

# Database number for storing account information.
account_store = 1

# Database number for Celery result backend.
result_backend = 2

# Database number for group informations cache.
# refer to https://github.com/RCOSDP/weko-group-cache-db
group_cache = 4

# Configuration for single Redis server, when cache_type is "RedisCache".
[redis.single]
# URL of the Redis server.
base_url = "redis://redis:6379"

# Configuration for Redis Sentinel, when cache_type is "RedisSentinelCache".
[redis.sentinel]
# Name of the Redis Sentinel master node.
master_name = "mymaster"

# List of Redis Sentinel nodes.
[[redis.sentinel.nodes]]
# Hostname or IP address of a Redis Sentinel node.
host = ""
port = 26379

[[redis.sentinel.nodes]]
# Hostname or IP address of a Redis Sentinel node.
host = ""
port = 26379


[rabbitmq]
# Hostname or IP address of the RabbitMQ server for Celery broker.
url = "amqp://guest:guest@rabbitmq:5672//"
