# Application configuration for server side

# Server hostname of this application.
server_name = 'localhost'

# Secret key for cryptographic operations.
secret_key = 'CHANGE ME'


[sp]
# Entity ID of the Service Provider.
entity_id = "https://localhost/shibboleth-sp"

# Path to the Service Provider's certificate file.
crt = "./certs/server.crt"

# Path to the Service Provider's private key file.
key = "./certs/server.key"


[repositories.id_patterns]
# SP connecter ID pattern. It should include '{repository_id}' placeholder.
# `repository_id` is the FQDN, with its dots and hyphens replaced by underscores.
sp_connecter = "jc_{repository_id}"


[groups.id_patterns]
# ID of the system administrator group.
system_admin = "jc_roles_sysadm"

# Pattern for repository administrator group IDs.
# It should include '{repository_id}' placeholder.
repository_admin = "jc_{repository_id}_roles_repoadm"

# Pattern for community administrator group IDs.
# It should include '{repository_id}' placeholder.
community_admin = "jc_{repository_id}_roles_comadm"

# Pattern for contributor group IDs.
# It should include '{repository_id}' placeholder.
contributor = "jc_{repository_id}_roles_contributor"

# Pattern for general user group IDs.
# It should include '{repository_id}' placeholder.
general_user = "jc_{repository_id}_roles_generaluser"

# Pattern for custom group IDs.
# It should include `{repository_id}` followed by `{custom_id}` placeholders.
custom_group = "jc_{repository_id}_groups_{custom_id}"


[map_core]
# Base URL for the mAP Core service.
base_url = "https://sptest.cg.gakunin.jp"

# Timeout (in seconds) for requests to mAP Core service.
timeout = 20


[celery]
# URL of the Celery message broker.
broker_url = "amqp://guest:guest@rabbitmq:5672//"

# URL of the Celery result backend.
result_backend = "redis://redis:6379/2"


[postgres]
# Database user name for authentication.
user = "jcgroups"

# Database user password for authentication.
password = "jcpass"

# Host name or IP address of the PostgreSQL server.
host = "postgres"

# Port number for the PostgreSQL server.
port = 5432

# Name of the PostgreSQL database.
db = "jcgroups"
