# Application configuration for server side

# Server hostname of this application.
server_name = 'localhost'

# Secret key for cryptographic operations.
secret_key = 'CHANGE ME'

[sp]
# Entity ID of the Service Provider.
entity_id = "https://localhost/shibboleth-sp"

crt = "./certs/server.crt"

key = "./certs/server.key"

[resources]
# SP connecter ID pattern. It should include '{repository_id}' placeholder.
sp_connecter_id_pattern = "jc_{repository_id}"

[map_core]
# Base URL for the mAP Core service.
base_url = "https://sptest.cg.gakunin.jp"

# Timeout (in seconds) for requests to mAP Core service.
timeout = 10

[celery]
# URL of the Celery message broker.
broker_url = "amqp://guest:guest@rabbitmq:5672//"

# URL of the Celery result backend.
result_backend = "redis://redis:6379/2"

[postgres]
# Database user name for authentication.
user = "jcgroups"

# Database user password for authentication.
password = "jcpass"

# Host name or IP address of the PostgreSQL server.
host = "postgres"

# Port number for the PostgreSQL server.
port = 5432

# Name of the PostgreSQL database.
db = "jcgroups"
